/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* site colour palette */
:root {
    --primary-color: hsl(210, 22%, 49%);
    --secondary-color: hsl(210, 22%, 39%);
    --background-color: hsl(210, 22%, 29%);
    --text-color: hsl(0, 0%, 100%);
}

/* generic style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo */
#logo_img img {
    width: 80px;
    height: auto;
}

/* body styles */
body {
    /* background-image: url('img/ultra-bungee-hero.jpg'); */
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 70px;
}

/* header styles */
header {
    background-color: var(--primary-color);
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* text-align: left; */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: left;
}

nav ul li {
    margin: 0 15px;
    /* float: left; */
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    /* float: left; */
}

/* main content styles */
main {
    padding: 2rem;
    text-align: center;

}

/* footer styles */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: left;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.footer-grid ul {
    list-style-type: none;
    padding: 0;
}

.footer-grid .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}

/* none可隐藏无序列表“ul”的小圆点 */
ul {
    list-style-type: none;
}

a {
    color: hsl(45, 100%, 51%);
    /* 更明显的黄色 */
    text-decoration: none;
}

a:hover {
    color: hsl(0, 100%, 67%);
    /* 更明显的红色 */
}

.col-1,
.col-2,
.col-3,
.col-4 {
    width: 100%;
    padding: 1rem;
}