@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');

:root {
    --primary-color: hsl(210, 20%, 50%);
    --secondary-color: hsl(210, 20%, 40%);
    --background-color: hsl(210, 20%, 30%);
    --text-color: hsl(0, 0%, 100%);
    --text-color2: hsl(45, 100%, 50%);
    --text-color3: hsl(0, 100%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid rgb(255, 0, 0); */
}

body {
    /* background-image: url('img/ultra-bungee-hero.jpg'); */
    /* font-family: 'Roboto', sans-serif; */
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 70px;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header:hover {
    background-color: var(--secondary-color);
    text-decoration: none;
}

header li {
    text-decoration: underline;
}

header #logo {
    margin-left: 20px;
}

.logo img {
    width: 120px;
    height: auto;
}

/* Title styles */
.title {
    color: var(--text-color2);
    border: 3px solid var(--text-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    height: 60px;
}

.title:hover {
    border: 3px solid var(--text-color2);
    color: var(--text-color1);
}
.index-button {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: rgb(255, 174, 0) 5px solid;
    border-radius: 30px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--primary-color);
}

.index-button li {
    margin: 0 10px;
    padding: 8px;
    background-color: rgb(0, 132, 255);
    border: 5px solid rgb(49, 193, 255);
    border-radius: 15px;
}

.index-button li:hover {
    background-color: rgb(255, 174, 0);
    border: 10px solid rgb(49, 193, 255);
}

.index-button li a {
    color: var(--text-color);
}

.index-button li a:hover {
    color: red;
}
.Price{
    border: var(--text-color) 5px solid;
    border-radius: 15px;
    text-align: left;
    margin: 40px;
    padding: 30px;
    background-color: var(--primary-color);
}

.Price:hover {
    border: var(--text-color2) 5px solid;
    background-color: var(--secondary-color);
}
.comment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.comment .comment_text
{
    color: var(--text-color);
    border: var(--text-color2) 5px solid;
    border-radius: 15px;
}
/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
}

.gallery img {
    width: 100%;
    height: auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--text-color2);
}


main {
    padding: 2rem;
    text-align: center;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1rem;
    border: rgb(255, 174, 0) 5px solid;
}

main img:hover {
    border: var(--text-color) 10px solid;
}
.contact-form {
    color: var(--text-color2);
    border: var(--text-color);
    border: var(--text-color2) 5px solid;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 30px;
    margin: 30px;
    font-size: 1.6rem;
}

/* Footer styles */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: left;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footerimg img {
    width: 100%;
    height: auto;
    float: right;
}

/* Paragraph styles */
p {
    color: var(--text-color);
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

h1 {
    color: var(--text-color);
    margin-bottom: 1rem;
}

/* Link styles */
a {
    color: var(--text-color2);
    text-decoration: underline;
    transition: color 0.3s;
}

a:hover {
    color: var(--text-color3);
}